body {
    font-family: Karla;
    text-align: center;
    padding: 24px 12px;
    background: #C7B9FF;
    margin: 0px;
    margin-bottom: 125px;
    letter-spacing: 0.3px;
}

#logo {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    margin: 0 0 16px;
}

#top {
    margin: 12px 0 30px;
}

h1, h3{
    font-size: 16px;
    color: white;
    margin: 0px;
    padding: 0px;
}

h1 {
    margin-bottom: 6px;
}

h2 {
    font-size: 14px;
    font-weight: 600;
    color: white;
    margin: 0px;
    padding-top: 0px;

}

ul {
    padding: 0;
    margin: 0 auto;
    width: 90%;
    max-width: 664px;
    margin-bottom: 53px;
}

li {
    background-position: bottom 10px left 10px;
    background-size: 35px;
    background-repeat: no-repeat;
    background-color: white;
    border: 2px solid black;
    list-style: none;
    margin: 24px 0;
    border-radius: 10px;
    height: 56px;
    filter: drop-shadow(10px 10px 0px #222);
    font-size: 16px;
    font-weight: 600;
    line-height: 56px;
    display: block;
}

li > a {
    text-decoration: none;
    color: #2B283a;
    padding: 0;
    width: 100%;
    display: block;
}

li:hover {
    transform: translateX(2px) translateY(3px);
    filter: drop-shadow(8px 7px 0px #222);
}

li:active {
    transform: translateX(5px) translateY(6px);
    filter: drop-shadow(5px 4px 0px #222);
}

.scrimba-link {
    background-position: bottom 3px left 5px;
    background-size: 50px;
    background-image: url(images/round-logo.png);
}

#scrimba-love {
    background-position: bottom 3px left 5px;
    background-size: 50px;
    background-image: url(images/heart.png);
}

#youtube {
    background-image: url(images/brand-youtube.svg);
}

#podcast {
    background-image: url(images/microphone.svg);
}

#digest {
    background-image: url(images/news.svg);
}

#recordings {
    background-image: url(images/building-bank.svg);
}

#discord {
    background-image: url(images/brand-discord.svg);
}

#twitter {
    background-image: url(images/brand-twitter.svg);
}

#linkedin {
    background-image: url(images/briefcase.svg);
}

#trouble {
    background-image: url(images/ambulance.svg);
}

#support {
    background-image: url(images/building-hospital.svg);
}

#handbook {
    background-image: url(images/book.svg);
}

#pricing {
    background-image: url(images/award.svg);
}

#cards {
    background-image: url(images/gift.svg);
}

#youtube>span, #twitter>span {
    background-image: url(images/drop-down.png);
    background-size: 13px;
    background-position: bottom 20px right 18px;
    background-repeat: no-repeat;
    display: block;
}

a>svg {
    margin: -10px;
    height: 32px;
}

a:hover>svg {
    transform: scale(1.1);
}

.highlight {
    animation-duration: 2s;
    animation-name: slidein;
    animation-iteration-count: infinite;
}

@keyframes slidein {
    from {
        transform: scale(1);
    }
  
    12% {
        transform: scale(1.04);
    }

    18% {
        transform: scale(1);
    }
  
    to {
      transform: scale(1);
    }
  }
